.header {
            
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
            /* position: sticky;
            top: 0;
            z-index: 1000; */
            padding: 12px 0;
        }

        .header__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header__logo img {
            height: 40px;
            width: auto;
            display: block;
        }
